* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  /* grid-gap: 10px 0px; */
}

.item {
  /* background-color: blue; */
  padding: 20px;
  word-wrap: break-word;
  /* border: 1px solid red; */
}

nav {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  background-color: #ffffff;
  font-family: sans-serif;
  border-bottom: 1px solid #e7e7e7;
}

nav img {
  padding-left: 50px;
}

nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 80%;
}

nav .nav-links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav .nav-links ul a {
  color: #000000;
  text-decoration: none;
  padding: 0px 10px;

}

nav .action-buttons {
  display: flex;
  /* background-color: red; */
}

nav .action-buttons .hamburger {
  cursor: pointer;
  background-color: #e7e7e7;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

#open-menu {
  display: none;
  /* position: absolute; */
  /* margin-left: 80%; */
}

#close-menu {
  display: none;
}

.container .item-1 h1 {
  font-size: 10vh;
  color: rgb(8, 8, 44);

}

.container .item-1 p {
  font-size: 4vh;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container .item-1 .plans {
  margin-top: 180px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(8, 8, 44);

  border: 1px solid rgb(8, 8, 44);
}

.container .item-1 .plans:hover {
  background-color: #ffffff;
  color: rgb(8, 8, 44);
  border: 1px solid rgb(8, 8, 44);
  transition: 0.5s;
}

.container .item-1 .discover {
  margin-top: 180px;
  color: rgb(8, 8, 44);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;

  border: 1px solid rgb(8, 8, 44);
}

.container .item-1 .discover:hover {
  background-color: rgb(8, 8, 44);
  color: #ffffff;
  border: 1px solid rgb(8, 8, 44);
  transition: 0.5s;
}

.container .item-2 {
  background-image: url("video-call-new-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}

.container .item-3,
.item-4 {
  background-color: rgb(8, 8, 44);
  color: #ffffff;
}

.container .item-4 h1 {
  font-size: 8vh;
}

.container .item-4 p {
  font-size: 3vh;
}

.container .item-5 {
  background-color: rgb(8, 8, 44);
  color: #ffffff;
}

.container .item-5 h1 {
  font-size: 10vh;
}

.container .item-5 p {
  /* colo */
  font-size: 5vh;
  margin-bottom: 30px;
}

.container .item-5 a {
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
}

.container .item-5 a:hover {
  border-radius: 50px;
  transition: 0.5s;
}

.container .item-5 button {
  padding: 10px;
  color: #ffffff;
  background-color: rgb(8, 8, 44);
  border: 0px;
  cursor: pointer;
}

.container .item-5 button:hover {
  background-color: #ffffff;
  color: rgb(8, 8, 44);
  transition: 0.5s;
}

.container .item-6 {
  background-color: rgb(50, 50, 190);
  overflow-x: hidden;
  padding: 20px;
  display: flex;
}


.container .item-6 .slide {
  height: 420px;
  border-radius: 5px;
  /* position: relative; */
  /* width: 100%; */
  /* border: 1px solid red; */

  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
  /* display: flex; */
  float: left;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  /* color: #ffffff; */
  /* margin-top: ; */
}

.container .item-6 .slide .slide-0-child-0 {
  font-size: 4vh;
  width: 320px;
  height: 80px;
  padding: 50px 10px;
  border-radius: 5px;
  /* color: #ffffff; */
  background-color: rgb(50, 50, 190);
  color: #ffffff;
  /* word-wrap: initial; */
  /* color: rgb(8, 8, 44); */
}

.container .item-6 .slide .slide-0-child-0 .tag-0 {
  font-size: 15px;
  width: 90px;
  padding: 5px 10px;
  margin-top: -42px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: -20px;
  position: relative;
  color: #ffffff;
  background-color: #000000;
}

.container .item-6 .slide .slide-0-child-1 {
  width: 320px;
  height: 50px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 3vh;
}

.container .item-6 .slide .slide-0-child-2 {
  width: 320px;
  height: 80px;
  margin-top: 5px;
  overflow-y: scroll;
  font-size: 15px;
  margin-bottom: 25px;
}

.container .item-6 .slide a {
  padding: 8px 15px;
  border-radius: 5px;
  display: block;
  width: fit-content;
  color: #ffffff;
  margin: auto;
  background-color: rgb(8, 8, 44);
  /* margin-top: 5px; */
  text-decoration: none;
}