* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.container {
  display: grid;
  width: auto;
  border: 1px solid red;

}

.container nav {
  background-color: #ffffff;
  padding: 15px 15px 10px 40px;
  height: 40px;
  border-bottom: 1px solid rgb(235, 229, 229);
  display: flex;
  float: left;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.container nav .logo {
  padding: 0px;
  width: auto;
  margin-left: 50px;
  margin-top: 3px;
}

.container nav .logo img {
  padding-top: 2px;
  float: left;
}

.container nav .logo ul {
  padding: 10px;
  list-style: none;
  float: left;
  display: flex;
}

.container nav .logo a {
  text-decoration: none;
  color: black;
}

.container nav .logo ul li {
  display: inline;
  padding: 2px 0px 0px 10px;
}

.container nav .nav-links {
  padding: 1px 30px 10px 20px;
  margin-right: 50px;
  /* border: solid; */
}

.container nav .nav-links ul {
  /* padding: 5px 0px 0px 30px; */
  list-style: none;
  float: left;
  display: flex;
}

.container nav .nav-links ul a {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 0px 5px 0px 5px;

}

.container nav .nav-links ul li {
  display: inline;
  padding: 0px 5px 0px 5px;
}



.container nav .nav-links a:nth-child(2) {
  /* background-color: blue; */
  border: 1px solid rgb(94, 94, 247);

  color: rgb(94, 94, 247);
  border-radius: 50px;
}

.container nav.nav-links a:nth-child(2):hover {
  background-color: rgb(93, 93, 207);
  border: 1px solid rgb(94, 94, 247);
  transition: 0.6s;
  color: #ffffff;
  border-radius: 50px;
}

.container nav .nav-links a:nth-child(3) {
  /* background-color: blue; */
  background-color: rgb(94, 94, 247);
  /* padding-right: 10px; */
  border: 1px solid rgb(94, 94, 247);
  color: #ffffff;
  border-radius: 50px;
}

.container nav .nav-links a:nth-child(3):hover {
  background-color: #ffffff;
  color: rgb(94, 94, 247);
  border-radius: 50px;
  border: 1px solid rgb(94, 94, 247);
  transition: 0.6s;
}

.container .hero-section {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container .hero-section .hero-section-child-0 {
  padding: 50px;
  grid-column: 1/2;
  grid-row: 1/1;

}

.container .hero-section .hero-section-child-0 h1 {
  font-size: 80px;
}

.container .hero-section .hero-section-child-0 h1 span {
  color: blue;
}

.container .hero-section .hero-section-child-0 p {
  margin: 50px 0px 50px 0;
  font-size: 25px;
}

.container .hero-section .hero-section-child-0 a {
  text-decoration: none;
  padding: 10px;
  border: solid;
  margin-top: 100px;
}

.container .hero-section .hero-section-child-0 .plans {
  background-color: blue;
  color: #ffffff;
  border: 1px solid blue;
  border-radius: 5px;
}

.container .hero-section .hero-section-child-0 .plans:hover {
  background-color: #ffffff;
  color: blue;
  border: 1px solid blue;
  transition: 0.5s;
  border-radius: 50px;
}

.container .hero-section .hero-section-child-0 .discover {
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
}

.container .hero-section .hero-section-child-0 .discover:hover {
  background-color: blue;
  color: #ffffff;
  border: 1px solid blue;
  transition: 0.5s;
  border-radius: 50px;
}

.container .hero-section .hero-section-child-1 {
  grid-column: 2/3;
  grid-row: 1/1;
  /* padding: 50px; */
}

.container .feature-container {
  display: grid;
  /* column-gap: 30px; */
}

.container .feature-container .feature-container-child-0 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
}

.container .feature-container .feature-container-child-0 .child-0 {
  height: 80px;
  line-height: 80px;
  width: 100%;
  background-color: blue;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  /* padding: 10px; */
}

.container .feature-container .feature-container-child-0 .child-1 {
  height: 500px;
  line-height: 80px;
  width: 100%;
  background-color: rgb(1, 1, 43);
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  /* padding: 10px; */
}

.container .feature-container .feature-container-child-0 .child-1 ul {
  list-style: none;

}

.container .feature-container .feature-container-child-0 .child-1 ul li {
  border: 1px solid blue;
  margin-top: 20px;
}

.container .feature-container .feature-container-child-1 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 5;
}

.container .container-3 {
  display: grid;
  color: #ffffff;
  background-color: rgb(2, 2, 61);
  /* padding: 20px; */
  height: 400px;
}

.container .container-3 .child-0 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2;

}

.container .container-3 .child-1 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 50px;

}

.container .container-3 .child-1 p {
  margin-top: 50px;
}

.container .container-4 {
  display: grid;
  /* padding: 50px; */
  height: 400px;
  margin: 50px;
}

.container .container-4 .child-0 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

.container .container-4 .child-0 h1 {
  font-size: 40px;
  color: rgb(2, 2, 61);
}

.container .container-4 .child-0 p {
  margin: 50px 0px 50px 0px;
  font-size: 25px;
}


.container .container-4 .child-0 a {
  text-decoration: none;
  background-color: blue;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 50px;
}

.container .container-4 .child-1 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 5;
  margin-left: 100px;
}

.container .container-4 .child-1 div {
  height: 150px;
  width: 300px;
  float: left;
  border: 1px solid rgb(14, 166, 226);
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 15px;
  cursor: pointer;

  font-size: 30px;
  text-align: center;
  line-height: 75px
}

.container .container-4 .child-1 div:hover {}

.container .container-5 {
  padding: 10px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  /* background-color: rgb(2, 2, 61);
  color: #ffffff; */

}

.container .container-5 .child-0 {
  grid-column: 1/3;
  grid-row: 1/1;
  background-color: rgb(7, 7, 56);
  padding: 200px 50px 50px 50px;
  color: #ffffff;
  /* font-size: larger; */
  height: 400px;
}

.container .container-5 .child-0 h1 {
  font-size: 50px;
}

.container .container-5 .child-0 p {
  font-size: 20px;
  margin: 20px 0px 50px 0px;
}

.container .container-5 .child-0 a {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
}

.container .container-5 .child-1 {
  grid-column: 3/7;
  grid-row: 1/1;
  overflow: hidden;
}

.container .container-5 .child-1 .slider {
  height: 100%;
  width: 200%;
  background-color: blue;
  display: flex;
}

.container .container-5 .child-1 .slider .slides {
  height: 80%;
  padding: 10px;
  width: 800px;
  margin: 5% 30px 0px 30px;
  background-color: #ffffff;
  border-radius: 15px;
  float: left;
  /* margin-left: -800px; */
}

.container .container-5 .child-1 .slider .slides .tag-0 {
  position: absolute;
  padding: 4px;
  width: 100px;
  color: #ffffff;
  background-color: rgb(36, 34, 34);
  margin-left: -10px;
  margin-top: 10px;
  font-size: 14px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.container .container-5 .child-1 .slider .slides .slide-0-child-0 {
  height: 200px;
  width: 90%;
  padding: 30px 18px 18px 18px;
  background-color: blue;
  border-radius: 15px;
  color: #ffffff;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container .container-5 .child-1 .slider .slides .slide-0-child-1 {
  margin-top: 20px;
  padding: 10px;
  font-size: 25px;
  font-weight: bolder;
}

.container .container-5 .child-1 .slider .slides .slide-0-child-2 {
  margin-top: 20px;
  max-height: 60px;
  padding: 10px;
  font-size: normal;
  overflow-y: scroll;
  margin-bottom: 30px;
}

.container .container-5 .child-1 .slider .slides a {
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: blue;
  margin-top: 50px;
  margin-left: 20px;
  border-radius: 50px;
}